<div class="card-header">
    <h3>{{ title }}</h3>
</div>

<div class="card-body">
    <form class="form col-md-6" [formGroup]="registerForm">
        <div class="form-group">
            <label for="email">Email</label>
            <input
                type="email"
                name="email"
                id="email"
                FormControlName="email"
                class="form-control"
            />
            <!-- <small
                class="text-danger"
                [class.d-none]="email.valid || email.untouched"
                >Enter Valid Email Settayi</small
            > -->
        </div>
        <div class="form-group">
            <label for="password">Password</label>
            <input
                type="password"
                name="password"
                id="password"
                FormControlName="password"
                class="form-control"
            />
        </div>
        <button
            type="submit"
            class="btn btn-primary"
            [disabled]="registerForm.invalid"
        >
            Sign Up
        </button>
    </form>
</div>
